fastapi==0.110.0
uvicorn==0.29.0
pydantic==1.10.13
python-multipart==0.0.9
requests==2.31.0

# Dashboard UI
streamlit==1.32.0
plotly==5.19.0

# Utilities
numpy==1.26.4
pandas==2.2.2

# IoT & MQTT
paho-mqtt==2.1.0

# Pose detection
mediapipe==0.10.8
opencv-contrib-python==4.8.1.78

# Nature Language Processing (lightweight)
nltk==3.9.1
textblob==0.17.1
